<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  
  <h4>To all those who participated in the IIAS Study Group on Co-production of Public Services 2019,
    Hereby I ask your consent to use your e-mail address for the following purposes: <br/>
    (1) your e-mail address will be shared with the IIAS Study Group on Co-production of Public Services 2019 participants;<br/>
    (2) your e-mail address will be used to share invitations for future events of the study group. 
    <br/>Please select your name by pressing anywhere on the dropdown, tick the box and press the button to give your consent.<br/>
</h4>

  <app-user-form-component [users]="users" (userSelected)="onUserSelected($event)"></app-user-form-component>

  <div *ngIf="selectedUser" class="selected-user">
    Selected user:  {{selectedUser.name}}
  </div>

  <div *ngIf="selectedUser?.checked" class="selected-user">
    You have consented to providing your email address. Thanks for participarting in our survey.
    On {{selectedUser.date}}
  </div>

  <div *ngIf="!selectedUser?.checked && selectedUser?.name" class="selected-user">
      <div class="consent-container">
        <div class="checkbox-container">
          <input type="checkbox" [(ngModel)]="hasConsented" [value]="hasConsented"/>
          <span>
            I hereby declare that the organizer of the IIAS Study Group on Co-production of public services may distribute my e-mail address 
            to (and only to) the participants of the study group and that the organizer may use my e-mail address to communicate future events
            of the study group.
          </span>
        </div>
        <button [disabled]="!hasConsented" class="submit" (click)="onCheck()">Consent</button>
      </div>
  </div>

  <button *ngIf="false" class="check-users submit"(click)="getCheckedUsers(users)">Show verified users</button>
  <ng-template [ngIf]="checkedUsers && false">
    <h1>List of verified users</h1>
    <div class="users-container">
      <div *ngFor="let user of checkedUsers">
        <div class="user-name">
          {{user.name}} on {{user.date}}
        </div>
      </div>
    </div>
  </ng-template >

  <input *ngIf="false" class="file-input" (change)="handleFile($event)" type="file"/>
  <button (click)="exportToExcel()">Export</button>
   
</div>

