<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  
  <app-user-form-component class="flex" [users]="users" (userSelected)="onUserSelected($event)"></app-user-form-component>

  <div *ngIf="selectedUser" class="selected-user">
    Selected user:  {{selectedUser.name}}
  </div>

  <div *ngIf="selectedUser?.checked" class="selected-user">
    You have consented to providing your email address. Thanks for participarting in our survey.
  </div>

  <div *ngIf="!selectedUser?.checked && selectedUser?.name" class="selected-user">
      <button class="submit" (click)="onCheck()">Click here to consent to providing your mail address to our survey</button>
  </div>
   
</div>

